// My Colors
$salmon: #FF968F;
$salmonlight: #FFBDB9;
$salmonlighter: #FFE3E1;

$pastelblue: #8DC8E7;
$pastelbluelight: #CAEAFB;
$pastelbluelighter: #EBF8FF;
$pastelbluedark: #5B96B5;
$pastelblueblue: #36A4DE;

$darkblue: #283B69;
$darkblue1: #5A6E9E;
$darkblue2: #9AAEDD;
$darkblue3: #BCD0FF;


// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default Bootstrap variable overrides

$navbar-brand-font-size: 1.5rem;
$navbar-light-brand-color: black;
$navbar-nav-link-padding-x: 1rem;
$navbar-light-color: black;
$navbar-light-hover-color: black;
$navbar-light-active-color: black;
$navbar-light-toggler-border-color: rgba(black, 0);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-padding-x: .35rem;
$navbar-toggler-font-size: 2rem;




// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";


// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// My Other Styles
// Font
* {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chakra Petch', serif;
    font-weight: bold;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.3rem;
}

.chakra {
    font-family: 'Chakra Petch', serif;
}

.container {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}


// NAVIGATION
nav {
    background: linear-gradient(to right, $darkblue3, $darkblue);
    margin: 0 .5rem 0 .5rem;
    clip-path: polygon(4% 0%, 96% 0%, 100% 15%, 100% 85%, 96% 100%, 4% 100%, 0% 85%, 0% 15%);
    .nav-link {
        font-size: 1.5rem;
        font-family: 'Chakra Petch', serif;
        font-weight: bold;
        padding: 1rem;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-thickness: 3px;
        }
    }
}




// HERO
#homeLanding {
    background-image: url(/images/header_bg2.jpg);
    background-color: black;
    background-attachment: fixed;
    background-position: 20% 0%;
    padding-top: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#heroSection {
    color: white;
    text-align: center;
    padding: 5rem 1rem 6rem 1rem;
    #hello {
        font-size: 3.5rem;
        font-weight: bold;
    }
    .introduction {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    a {
        text-decoration: none;
        color: black;
        background-color: $salmon;
        padding: 1rem 2rem;
        clip-path: polygon(5% 0%, 95% 0%, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0% 85%, 0% 15%);
        font-weight: bold;
        font-size: 1.6rem;
        transition: all .3s ease-out;
        &:hover {
            background-color: $salmonlight;
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
            border-radius: 5px;
        }
    }
    img {
        width: 65%;
        border-radius: 10px;
    }
}

#heroEmphasis {
    color: $salmon;
}

#heroButton {
    margin: 1.9rem 0 1.5rem 0;
}




// MY SKILLS
#mySkills {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(black, $darkblue1);
}

#skillsSect {
    color: white;
    margin-bottom: 3rem;
}

.skillsBar {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0 10px 10px 0;
    // clip-path: polygon(0% 0%, 95% 0%, 100% 15%, 100% 85%, 95% 100%, 0% 100%, 0% 100%, 0% 0%);
    p {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

#html {
    width: 85%;
    background-color: $pastelblueblue;
}

#css {
    width: 70%;
    background-color: $pastelblue;
}

#javascript {
    width: 35%;
    background-color: $pastelbluelight;
}

#uxdesign {
    width: 50%;
    background-color: $pastelblueblue;
}

#photoshop {
    width: 80%;
    background-color: $pastelblue;
}

#illustrator {
    width: 35%;
    background-color: $pastelbluelight;
}






//FEATURED PROJECTS
#featuredProjects {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: -1px;
    background: linear-gradient($darkblue1, $darkblue2);
    h1 {
        margin-bottom: 3rem;
    }
    img {
        width: 100%;
    }
}





// MY PROCESS
#myProcess {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: -1px;
    background: linear-gradient($darkblue2, $darkblue1);
    h1 {
        margin-bottom: 3rem;
    }
    .row {
        padding-left: 2rem;
        padding-right: 1.7rem;
    }
}

.processBox {
    padding: 1.5rem;
    position: relative;
    z-index: 0;
    margin-bottom: 5rem;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

//This is to prevent processBox from clipping processShadow, its child element
.processBox::before {
    content: "";
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    clip-path: polygon(5% 0%, 95% 0%, 100% 7%, 100% 93%, 95% 100%, 5% 100%, 0% 93%, 0% 7%);
    background-color: $pastelbluelighter;
}

.processShadow {
    background-color: $darkblue;
    color: $salmonlight;
    position: absolute;
    top: 2.7rem;
    left: -.7rem;
    width: 100%;
    height: 100%;
    z-index: -2;
    clip-path: polygon(5% 0%, 95% 0%, 100% 7%, 100% 93%, 95% 100%, 5% 100%, 0% 93%, 0% 7%);
    span {
        position: absolute;
        bottom: .00000001rem;
        right: 1.5rem;
        font-size: 2rem;
        font-weight: 600;
    }
}










// BREAKPOINTS

@media only screen and (min-width: 440px) {
    nav {
        clip-path: polygon(3% 0%, 97% 0%, 100% 15%, 100% 85%, 97% 100%, 3% 100%, 0% 85%, 0% 15%);
    }

    #heroSection {
        img {
            width: 50%;
        }
    }

    .processBox::before {
        clip-path: polygon(3% 0%, 97% 0%, 100% 7%, 100% 93%, 97% 100%, 3% 100%, 0% 93%, 0% 7%);
    }
    
    .processShadow {
        clip-path: polygon(3% 0%, 97% 0%, 100% 7%, 100% 93%, 97% 100%, 3% 100%, 0% 93%, 0% 7%);
    }    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    nav {
        clip-path: polygon(2% 0%, 98% 0%, 100% 15%, 100% 85%, 98% 100%, 2% 100%, 0% 85%, 0% 15%);
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #heroSection {
        #hello {
            font-size: 4rem;
        }
        p {
            font-size: 1.8rem;
        }
        img {
            width: 70%;
        }
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    .processBox::before {
        clip-path: polygon(5% 0%, 95% 0%, 100% 7%, 100% 93%, 95% 100%, 5% 100%, 0% 93%, 0% 7%);
    }
    
    .processShadow {
        clip-path: polygon(5% 0%, 95% 0%, 100% 7%, 100% 93%, 95% 100%, 5% 100%, 0% 93%, 0% 7%);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    nav {
        clip-path: polygon(1% 0%, 99% 0%, 100% 15%, 100% 85%, 99% 100%, 1% 100%, 0% 85%, 0% 15%);
        .nav-link {
            padding: 0.5rem 1rem;
        }
    }
    

    #contactButton {
        background-color: $salmonlight;
        padding-left: 2rem;
        padding-right: 2rem;
        clip-path: polygon(5% 0%, 95% 0%, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0% 85%, 0% 15%);
        transition: all .3s ease-out;
        &:hover {
            background-color: $salmon;
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
            border-radius: 5px;
            text-decoration: none;
        }
    }

    #contactButtonParent {
        margin-left: auto;
    }

    #skillsGraph {
        border-right: 2px solid black;
    }

    #featuredProjects {
        img {
            width: 85%;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .processBox::before {
        clip-path: polygon(7% 0%, 93% 0%, 100% 7%, 100% 93%, 93% 100%, 7% 100%, 0% 93%, 0% 7%);
    }
    
    .processShadow {
        clip-path: polygon(7% 0%, 93% 0%, 100% 7%, 100% 93%, 93% 100%, 7% 100%, 0% 93%, 0% 7%);
    }

    .processXLBox::before {
        clip-path: polygon(10% 0%, 90% 0%, 100% 7%, 100% 93%, 90% 100%, 10% 100%, 0% 93%, 0% 7%);
    }

    .processXLBox {
        .processShadow {
            clip-path: polygon(10% 0%, 90% 0%, 100% 7%, 100% 93%, 90% 100%, 10% 100%, 0% 93%, 0% 7%);
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}


























// #svg {
//     width: 100px;
// }

// img {
//     width: 300px;
// }

// #test {
//     background-color: lightcoral;
//     width: 700px;
//     height: 100px;
//     position: absolute;
//     top: 2px;
//     left: 2px;
//     // clip path - x, y, etc.
//     clip-path: polygon(2% 0%, 98% 0%, 100% 20%, 100% 80%, 98% 100%, 2% 100%, 0% 80%, 0% 20%);
// }

// #test2 {
//     background-color: black;
//     width: 704px;
//     height: 104px;
//     // clip path - x, y, etc.
//     clip-path: polygon(2% 0%, 98% 0%, 100% 20%, 100% 80%, 98% 100%, 2% 100%, 0% 80%, 0% 20%);
// }

// #testover {
//     width: 700px;
//     height: 100px;
//     position: absolute;
//     top: 2px;
//     left: 2px;
//     // clip path - x, y, etc.
//     clip-path: polygon(2% 0%, 98% 0%, 100% 20%, 100% 80%, 98% 100%, 2% 100%, 0% 80%, 0% 20%);
//     &:hover {
//         background-color: rgba($color: white, $alpha: .5);
//     }
//     a {
//         background-color: blue;
//         color: white;
//         padding: 10px;
//         text-align: center;
//         display: none;
//     }
// }

// .smaller {
//     background-color: red;
//     width: 200px;
//     height: 200px;
//     clip-path: polygon(2% 0%, 98% 0%, 100% 20%, 100% 80%, 98% 100%, 2% 100%, 0% 80%, 0% 20%);
// }

// #Layer_1 {
//     height: 100px;
//     width: 50%;
// }

// #overlay {
//     position: absolute;
//     width: 259px;
//     height: 141px;
//     top: 20px;
//     left: 20px;
//     opacity: 0;
//     color: black;
//     text-decoration: none;
//     &:hover {
//        background-color: rgba($color: white, $alpha: .9);
//        cursor: pointer;
//        opacity: 1;
//     }
//     p {
//         padding: 16px;
//         font-size: 16px;
//         text-align: center;
//     }
// }

// #contain, #testcontain {
//     position: relative;
// }